<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>

    @*Implementing and Rendering CSS-Styles*@
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/skeleton.css")
    @Styles.Render("~/Content/Site.css")

    @*Implementing and Rendering JS-Scripts*@
    @Scripts.Render("~/Scripts/site.js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container navBar" id="mainNavBar">


        @* Navbar| Html.ActionLink("Bezeichnung", "View", "Controller") *@


        @*@Html.ActionLink("BilderUpload", "UploadPicture", "Product")*@  @*Once implemented in CREATE/EDIT, here will be a Searchbar*@
        @Html.ActionLink("Teuerste 5 Produkte", "TopNProducts", "Product")
        @Html.ActionLink("ProductPage", "Index", "Product")

        @Html.ActionLink("🎱", "Index", "Product", new { area = "" }, new {@class = "home" })

        @Html.ActionLink("VendorPage", "Index", "Vendor")
        @Html.ActionLink("Bildergalerie", "PictureGallery", "Product")
        @Html.ActionLink("BildergalerieAlt", "PictureGalleryAlt", "Product")


        <a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
